body
{
    display: flex;
    background: #456789;
}
h6, h5
{
    padding:3px 0;
    margin: 0 0 ;
}
nav
{
    flex: 0 0 120px;
    display: grid;
    grid-template-columns: 1fr;    
}
table
{
    width: 80%;
}
table, td, th
{
    border: 1px solid #000000;
    border-collapse: collapse;
}
td, th
{
    padding: 4px 8px;
}

nav a
{
    background: #FEDCBA;
    border: 2px solid #FEDCBA;
    border-radius: 8px;
    color: #000000;
    padding: 8px 0;
    margin: 3px 6px;
    text-align: center;
    text-decoration: none;
}
nav a:hover
{
    background: #ffffff;
    border: 2px solid #FEDCBA;
    color: #FEDCBA;
}

body section
{
    padding: 5px 0 0 12px;
    width: 100%;
}
body section a
{
    color: #ffffff;
    text-decoration: none;
    padding: 5px 2px;
}
main
{
    flex: 1;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
main article
{
    display: inline;
    padding: 5px 2px;
}

.account
{
    flex: 1;
    text-align: right;
    height: auto;
}
.account a
{
    color: white;
    text-decoration: none;
}
